<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>로그인 암호 변경</title>
    <!-- Vendor StyleSheets -->
    <link rel="stylesheet" href="/vendor/bootstrap-4.6.0/css/bootstrap.min.css" />
    <!-- Custom StyleSheets -->
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <div id="wrapper">
      <h1 class="logo">
        <img src="/images/logo__cyan.svg" alt="로고" height="20" />
      </h1>
      <main id="content">
        <article class="sign_in">
          <div class="page_heading">
            <h2 class="main">로그인 암호 변경</h2>
          </div>
          <form id="frmChangePwd" method="post" action="/v1/auth/change-password">
            <input type="hidden" name="token" value="<%=token%>" />
            <input type="hidden" name="redirectUrl" value="<%=redirectUrl%>" />

            <div class="form-group">
              <label for="password">
                <input
                  id="password"
                  name="password"
                  class="form-control"
                  type="password"
                  placeholder="새로운 암호를 입력해 주세요"
                  onchange="cleanInvalid()"
                />
                <span class="input_visibility hidden" toggle="#password"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="password2">
                <input
                  id="password2"
                  name="password2"
                  class="form-control"
                  type="password"
                  placeholder="암호를 다시 입력해 주세요"
                  onchange="cleanInvalid()"
                />
                <span class="input_visibility hidden" toggle="#password2"></span>
              </label>
            </div>
            <button type="button" class="btn_primary" onClick="checkform();">암호변경</button>
            <p class="form_feedback invalid" style="display: none">
              입력된 암호가 동일하지 않습니다.<br />
              암호를 확인하여 다시 입력하여 주십시오.
            </p>
          </form>
        </article>
      </main>
    </div>

    <!-- Vendor JavaScripts -->
    <script src="/vendor/jquery_3.5.1.min.js"></script>

    <!-- Custom JavaScripts -->
    <script src="/javascripts/common.js"></script>

    <script>
      //JavaScript
      function checkform() {
        const password = $('[name=password]').val().trim();
        const password2 = $('[name=password2]').val().trim();
        if (!password || !password2) {
          return false;
        } else if (password === password2) {
          $.post('/v1/auth/change-password', $('#frmChangePwd').serialize())
            .done(function (responseJSON) {
              alert('암호가 정상적으로 변경 되었습니다.');
              location.href = responseJSON.data.redirectUrl;
            })
            .fail(function (err) {
              if (err.responseJSON.code == 401) {
                alert('인증 토큰이 만료되었습니다. 암호 변경을 다시 요청해 주세요.');
              }
            });
        } else {
          $('.invalid').show();
          return false;
        }
      }

      function cleanInvalid() {
        $('.invalid').hide();
      }
    </script>
  </body>
</html>
